.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #d4faff 0%, #ffd7e5 100%);
  > header {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 66px;
    color: #3a2c60;
  }
  > main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  > footer {
    flex-shrink: 0;
  }
}
