:root {
  --bg: white;
  --amount-text: #6dc9f7;
  --button-bg:  var(--navbar-bg-end);
  --button-bg-danger: #f16666;
  --button-border-color: #ddd;
  --button-font-size: 18px;
  --button-height: 48px;
  --button-radius: 8px;
  --button-text: white;
  --date-text: #999999;
  --dialog-header-text: white;
  --emoji-nav-text-selected: #333;
  --emoji-nav-text: #999;
  --error-color: var(--navbar-bg-start);
  --float-button-bg: var(--navbar-bg-start);
  --float-button-text: white;
  --input-border-color: var(--navbar-bg-start);
  --input-min-height: 48px;
  --input-radius: var(--button-radius);
  --input-shadow: rgba(0,0,0,0.2);
  --list-tag-text: #333;
  --list-amount-text: var(--amount-text);
  --list-time-text: var(--date-text);
  --main: var(--navbar-bg-start);
  --navbar-bg-end: #f796b3;
  --navbar-bg-start: #fa759e;
  --navbar-text: white;
  --number-button-bg-important: var(--navbar-bg-start);
  --number-button-bg: white;
  --number-button-text-important:white;
  --main: var(--navbar-bg-end);
  --overlay-bg: white;
  --overlay-mask-bg: rgba(0, 0, 0, 0.5);
  --overlay-user-bg: #f97aa1;
  --overlay-user-text: white;
  --tabs-indicator-bg: rgba(255, 255, 255, 0.5);
  --tag-bg: #EFEFEF;
  --top-safe-area-height: 24px;
  --total-bg: #252A43;
  --total-text: white;
  --total-income: #FE7275;
  --total-expenses: #53A867;
  --transition-duration: 0.5s;
  --welcome-bg-end: #ffd7e5;
  --welcome-bg-start: #d4faff;
  --welcome-card-bg: rgba(255, 255, 255,0.7);
  --welcome-nav-gap: 8px;
  --welcome-nav-height: 64px;
  --welcome-text: white;
  --z-index-bottom-nav: 8; 
  --z-index-overlay: 16;
}
